@import url(./__container/popup__container.css);
@import url(./__title/popup__title.css);
@import url(./__info/popup__info.css);
@import url(./__input/popup__input.css);
@import url(./__save-button/popup__save-button.css);
@import url(./__close-button/popup__close-button.css);

.popup {
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
}
