.logo {
  width: 144px;
  height: 34px;
}

@media screen and (max-width: 919px) {
  .logo {
    padding-left: 19px;
  }
}

@media screen and (max-width: 619px) {
  .logo {
    width: 104px;
    height: 24px;
    padding-left: 27px;
    }
}
