.profile__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 619px) {
  .profile__info {
    align-items: center;
  }
}

@media screen and (max-width: 619px) {
  .profile__info {
    margin-bottom: 36px;
    }
}
